/* General setup */

header h1{
padding-left:400px;
font-family: 'Slabo 27px', serif;
font-size: 50px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}
a{
  color:#a66; 
}
/* Layout */

section {
  float: left;
  width: 50%;
  letter-spacing: 1px;
}

aside {
  float: left;
  width: 30%;
  letter-spacing: 1px;
}

nav {
  float: left;
  width: 20%;
}
nav a{
  outline:none;
  text-decoration: none;
  text-align: center;
  border: 1px solid #a66;
   width:100%;
   display:inline-block; 
   line-height:3;
   letter-spacing: 0.5px;
}
nav a:hover{
  background: #a66;
  color:#fff;
}
nav li{
  list-style: none;
  margin-bottom:20px;

}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */
h2{
  font-family: 'Slabo 27px', serif;
}
p{
  font-family: 'Slabo 27px', serif;
}
header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */